<div *ngIf="phone && queryQuantityInInventory(phone)">
    <div>
        <span>型号：</span>
        <span>{{phone.modelName}}</span>
    </div>
    <div>
        <span>描述：</span>
        <span>{{phone.description}}</span>
    </div>
    <div>
        <span>价格：</span>
        <span>{{phone.price}}</span>
    </div>
    <div>
        <span>库存：</span>
        <span>{{queryQuantityInInventory(phone)}}</span>
    </div>
    <div>
        <span>在购物车中：</span>
        <span>{{queryQuantityInCart(phone)}}</span>
    </div>
    <div>
        <button (click)="addItem(phone)">加入购物车</button>
        <button *ngIf="queryQuantityInCart(phone)" >移出购物车</button>
    </div>
</div>
