<h2>结账</h2>
<div>
    <span>总价：</span><span>{{getTotalAmount()}}</span>
</div>
<div>
    <h3>支付方式选择</h3>
    <div>
        <nz-radio-group [(ngModel)]="selectedPaymentMethod">
            <label 
                nz-radio 
                *ngFor="let paymentMethod of paymentMethods"
                nzValue="{{ paymentMethod.id }}"
            >{{ paymentMethod.name }}</label>
        </nz-radio-group>
    </div>
    <div>
        <button nz-button nzType="primary" (click)="onPayButtonClick($event)">立即支付</button>
    </div>
</div>